.header__continer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B152B;
  border-radius: 47px;
  padding: 12px 20px;
  font-family: "inter";
}
.header__continer .nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 16px;
}
.header__continer .nav:hover {
  color: black;
}
.header__continer .gamburger {
  display: none;
}
.header__continer #check {
  display: none;
}

.list__item a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header__continer {
    background-color: #1B152B;
    position: relative;
  }
  .header__continer .nav {
    display: none;
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
  }
  .header__continer .nav .list__item {
    flex-direction: column;
    background-color: #1B152B;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .header__continer .contact {
    display: none;
  }
  .header__continer .gamburger {
    display: block;
  }
  .header__continer #check:checked ~ .nav {
    display: block;
  }
}
.hero__continer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "inter";
}
.hero__continer h1 {
  font-size: 72px;
  color: #1B152B;
  margin-top: 64px;
  margin-bottom: 16px;
}
.hero__continer span {
  font-size: 16px;
  color: #7A7D9C;
}
.hero__continer .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 16px;
  margin-bottom: 48px;
}
.hero__continer .buttons button:first-child {
  background-color: #1B152B;
}
.hero__continer .hero__img-2,
.hero__continer .hero__img-3 {
  display: none;
}
.hero__continer .hero__50k {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EFF0F6;
  padding: 16px 48px;
  border-radius: 16px;
  margin-top: 48px;
}
.hero__continer .hero__50k h2 {
  font-size: 48px;
  color: #7F56D9;
  font-family: "inter";
}
.hero__continer .hero__50k p {
  font-size: 24px;
  color: #7F56D9;
  font-family: "manrope";
}

@media screen and (max-width: 768px) {
  .hero__continer h1 {
    font-size: 24px;
  }
  .hero__continer span {
    font-size: 12px;
  }
  .hero__continer .buttons .btn {
    padding: 5px 11px;
  }
  .hero__50k {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.continer {
  max-width: 1058px;
  width: 100%;
  margin: 0 auto;
}

.header__continer button, .hero__continer .buttons button {
  font-size: 16px;
  border-radius: 20px;
  background-color: #7F56D9;
  color: white;
  padding: 8px 30px;
  border: none;
  font-family: "Inter";
}
.header__continer button:hover, .hero__continer .buttons button:hover {
  background-color: #200853;
}

@media screen and (max-width: 1200px) {
  .continer {
    width: 960px;
  }
  .continer .rasm-1 {
    display: block;
  }
  .continer .rasm-2 {
    display: none;
  }
  .continer .rasm-3 {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .continer {
    max-width: 720px;
    width: 100%;
  }
  .continer .rasm-3 {
    display: none;
  }
  .continer .rasm-2 {
    display: block;
  }
  .continer .rasm-1 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .continer {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
  }
  .continer .rasm-1 {
    display: none;
  }
  .continer .rasm-2 {
    display: none;
  }
  .continer .rasm-3 {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */