.header__continer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B152B;
    border-radius: 47px;
    padding: 12px 20px;
    font-family: "inter";

    .nav{
        display: flex;
        align-items: center;
        list-style: none;
        gap: 16px;

        &:hover{
            color: black;
        }
    }

    button{
        @extend %button-template
    }

    .gamburger{
        display: none;

    }

    #check{
        display: none;
    }
}

.list__item a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    
    .header__continer{
        background-color: #1B152B;
        position: relative;


        .nav{
            display: none;
            position: absolute;
            width: 100%;
            top: 40px;
            left: 0;

            .list__item{
                flex-direction: column;
                background-color: #1B152B;
                width: 100%;
                padding: 20px;
                text-align: center;
            }

        }
        .contact{
            display: none;
        }
        .gamburger{
            display: block;
        }
        #check:checked ~ .nav{
            display: block;
        }
        
    }    
}