.hero__continer{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'inter';
    

    h1{
        font-size: 72px;
        color: #1B152B;
        margin-top: 64px;
        margin-bottom: 16px;
        
    }
    span{
        font-size: 16px;
        color: #7A7D9C;
    }
    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-top: 16px;
        margin-bottom: 48px;

        button{
            @extend %button-template;

            &:first-child{
                background-color: #1B152B;
            }
        }
        
        
    }
    .hero__img-2,
    .hero__img-3{
        display:none;
    }
    .hero__50k{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #EFF0F6;
        padding: 16px 48px;
        border-radius: 16px;
        margin-top: 48px;


        h2{
            font-size: 48px;
            color: #7F56D9;
            font-family: "inter";
        }
        p{
            font-size: 24px;
            color: #7F56D9;
            font-family: "manrope";
        }
    }
}