@import "./header";
@import "./hero";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.continer{
    max-width: 1058px;
    width: 100%;
    margin: 0 auto;
}
%button-template{
    font-size: 16px;
    border-radius: 20px;
    background-color: #7F56D9;
    color: white;
    padding: 8px 30px;
    border: none;
    font-family: "Inter";

    &:hover{
        background-color: #200853;
        
    }
}



@media screen and (max-width:1200px) {
    .continer{
        width: 960px;
    }
}
@media screen and (max-width:992px) {
    .continer{
        max-width: 720px;
        width: 100%;
    }
}
@media screen and (max-width:768px) {
    .continer{
        max-width: 540px;
        width: 100%;
        margin: 0 auto;
 
    .hero__continer{  
        
        
        h1{
            font-size: 24px;
        }

        span{
            font-size: 12px;
        }

        
        .buttons{
            .btn{
                padding: 5px 11px;
            }
        }
    }
    .hero__50k{
        display: flex;
        flex-direction: column;
    }
  
}
// @media screen and (max-width:290px) {
//     .continer{
//         max-width: 150px;
//         width: 100%;
//     }
//     .hero__img-2{
//         display: none;
//     }
//     .hero__img-3{
//         display:block;
//     }
   
    
//    
// }